*{
  padding: 0;
  margin: 0;
}

div.nav {
   background-color: #000000;
}

div.navi {
  display: flex;
  flex-wrap: wrap;
  padding: 1vh;
  word-spacing: 1vw;
  font-size: 1vh;
}

button {
  background-color: #000000; /* Green */
  border: white ;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 3.5vh;
  cursor: pointer;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
button:hover{
  background-color: rgb(253, 253, 253);
  border-radius: 10vh;
  color: black;
}
button:active{
  color: #000000;
  text-decoration: underline;
}